.DS_Store
.vscode/launch.json
pysrc/__pycache__/configs.cpython-38.pyc
pysrc/__pycache__/gameboard.cpython-38.pyc
pysrc/__pycache__/gui_tools.cpython-38.pyc
pysrc/__pycache__/handledico.cpython-38.pyc
pysrc/old_files/motus_v0.0.01.py
pysrc/old_files/motus_v1.0.00.py
